<link href='/'>
  <div class="container">
    <div class="row">
      <div class="about-text col text-center">
        <h1>About</h1>
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう<br>
            さまざまなバリエーションでご用意しております。<br>
            全国へ発送可ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。<br>
              <div class="about">
              </div>
      </div>
    </div>
  </div>